@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    scroll-behavior: smooth;

}

:root {
    --first-color: hsl(354, 78%, 60%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --card-color: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(206, 4%, 97%);
    --container-color: hsl(0, 0%, 100%);
    --border-color: hsl(0, 0%, 94%);
    --h-header: 3rem;
    --shadow-general: 0 .5rem 1rem rgba(0, 0, 0, .15);
    --z-header-nav: 1000;
    --z-handle-icon-navbar: 2000;
    --z-content-cart: 3000;
    --z-modalproduct: 4000;
}

body {
    background-color: var(--body-color);
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    transition: hover 2s;
}

/* a:hover {
    color: var(--first-color);
} */

/*------------------------------------------------NAVBAR*/

.content_navbar {
    background-color: transparent;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.content_navbar_scroll {
    background-color: var(--body-color);
}

.navbar {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--h-header);

    padding: 0 1rem;
}

.nav_logo-icon {
    fill: var(--first-color);
    height: 50px;
    align-items: center;
}

.logo_and_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar i {
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    color: var(--title-color);
}

.menu {
    background-color: var(--body-color);
    font-size: 1.5rem;

    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;

    top: 0;
    right: -110vh;
    gap: 1rem;

    transition: right 0.5s;
}

.menu_show {
    right: 0vh;
}


/* .navbar {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    
}

.navbar > i {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;

    position: relative;
} */

.amountProducts {
    width: 20px;
    height: 20px;
    font-size: 0.7rem;
    background-color:var(--title-color);
    color: var(--card-color);
    border-radius: 50%;

    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    top: 0.8rem;
}


/* .navbar {
    background-color: red;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.side_right{
    background-color: var(--first-color);
}

.side_right img {
    display: block;
    max-width: 100%;
} */

/*------------------------------------------------HEADER*/
/* header {
    height: var(--h-header);
    background-color: var(--body-color);

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
} */

#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.info_box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    grid-column: 1/3;
    grid-row: 2/3;
    gap: 1rem;
}

.img_box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--first-color);
    min-height: 400px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.info_box h2 {
    font-size: 2rem;
    color:var(--title-color);
}

.description {
    color: var(--text-color-light);
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--first-color);
}

.info_box button{
    height: 50px;
    width: 150px;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--button-color);
    color: var(--body-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.4s;
}

.info_box button:hover{
    background-color: var(--first-color);
}

/*------------------------------------------------PRODUCTS*/
.products {
    /* padding-top: 3rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
}

.product {
    border-radius: 1rem;
    margin: 0.8rem;
    background-color: var(--card-color);
}

.product__img {
    padding: 1rem;
}

.product__info {
    background-color: var(--container-color);
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product__info h4 {
    min-height: 54px;
    color: var(--title-color);
}

.product__info span {
    font-weight: normal;
    font-size: 0.8rem;
}

.product__info .soldOut {
    display: inline-block;
    color: var(--title-color);
    background-color: var(--first-color);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    user-select: none;
}

.product__info .bx-plus {
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--button-color);
    background-color: var(--container-color);
    font-size: 1.3rem;
    cursor: pointer;
}

/*------------------------------------------------CART*/

.cart {
    height: calc( 100vh - var(--h-header));
    width: 400px;
    background-color: var(--body-color);
    position: fixed;
    top: var(--h-header);
    right: -100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    transition: right 0.3s;
}

.cart__show {
    right: 0;
}

.cart__products {
    height: 85%;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart__product {
    /* padding: 1rem; */

    display: flex;
    align-items: center;
    border-radius: 1rem;

}

.cart__product--img {
    width: 35%;
    background-color: var(--card-color);
    border: 1px solid var(--first-color);
    border-radius: 0.5rem;
}

.cart__product--body {
    width: 60%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cart__product--body--op {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cart__product--body--op i {
    cursor: pointer;
}

.cart__product--body--op .bx-trash-alt {
    color: var(--first-color);
}


.cart__total {
    /* background-color: green; */
    height: 15%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.cart__total--info {
    /* background-color: red; */
    color: var(--text-color);
    width: 100%;
    padding: 0.3rem;

    font-weight: 700;
    
    display: flex;
    justify-content: space-between;
}

.btn__buy {
    padding: 0.5rem;
    height: 50%;
    width: 100%;
    border: none;
    background-color: var(--button-color);
    color: var(--body-color);
    font-weight: 700;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.4s;
}

.btn__buy:hover {
    background-color: var(--first-color);
}

/*------------------------------------------------FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    /* padding: 2rem; */
    background-color: var(--card-color);
    width: 100%;
    padding: 80px 32px;
}

.links__footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    transition: color 0.4s;
}

.links__footer a:hover {
    color: var(--first-color);
}

.our_information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.our_information > h3 {
    font-size: 20px;
    /* padding: 1rem 2rem; */
}

.our_information > ul > li {
    font-size: 16px;
    font-weight: lighter;
    /* padding: 0 2rem; */
    color: var(--text-color);
}

.about_us {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.about_us > h3 {
    font-size: 20px;
    /* padding: 1rem 2rem; */
}

.about_us > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.about_us > ul > li {
    font-size: 16px;
    font-weight: lighter;
    /* padding: 0 2rem; */
    color: var(--text-color);
}

.product_footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product_footer > h3 {
    font-size: 20px;
    /* padding: 1rem 2rem; */
}

.product_footer > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.product_footer > ul > li {
    font-size: 16px;
    font-weight: lighter;
    /* padding: 0 2rem; */
    color: var(--text-color);
}

.social {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social > h3 {
    font-size: 20px;
    /* padding: 1rem 2rem; */
}

.icons > ul {
    display: flex;
    /* justify-content: center; */
    gap: 1rem;
}

.social > .icons > ul > li {
    font-size: 25px;
    color: var(--text-color);
    /* padding: 0 0 0 1.5rem; */
}

.my_repository {
    /* height: 50px; */
    padding: 1rem;
    margin: 3rem 0 0 0;
    background-color: var(--first-color);
    color: var(--body-color);
    font-weight: bold;
    text-align: center;
    gap: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/*------------------------------------------------MediaQuery*/


@media (min-width: 700px) {
/*------------------------------------------------NAVBAR*/
    .content_navbar {
        background-color: transparent;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
    }

    .navbar {
        margin: 0 auto;
        max-width: 1024px;
        display: flex;
        align-items: center;

        height: var(--h-header);

        padding: 0 1rem;
    }

    .logo_and_menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu {
        background-color: transparent;
        font-size: 1rem;
        padding: 2rem;
        height: auto;
        width: auto;
    
        display: flex;
        flex-direction: row;
        position: static;
    }

    .iconMenu {
        display: none;
    }

    
/*------------------------------------------------HOME*/
    /* .home {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1024px;
        min-height: 500px;
        display: flex;
        margin: 0 auto;
        gap: 1rem;
    } */

    #home {
        max-width: 1024px;
        min-height: 500px;
        display: flex;
        margin: 0 auto;
        gap: 1rem;
    }

    .info_box {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        /* grid-column: 1/4; */
        gap: 1rem;

        display: flex;
        justify-content: center;
    }

    .info_box h2 {
        font-size: 3rem;
    }

    .img_box {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--first-color);
        min-height: 400px;
        /* grid-column: 4/5; */
    }

    /*------------------------------------------------FOOTER*/
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--card-color);
        width: 100%;
    }

    .links__footer{
        top: 50px;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        width: 100%;
        max-width: 1024px;
    }

    .our_information > h3 {
        font-size: 20px;
        /* padding: 1rem 2rem; */
    }

    .our_information > ul > li {
        font-size: 16px;
        font-weight: lighter;
        /* padding: 0 0 0.5rem 2rem; */
        color: var(--text-color);
    }

    .about_us > h3 {
        font-size: 20px;
        /* padding: 1rem 2rem; */
    }

    .about_us > ul > li {
        font-size: 16px;
        font-weight: lighter;
        /* padding: 0 0 0.5rem 2rem; */
        color: var(--text-color);

        display: flex;
        flex-direction: column;
    }

    .product_footer > h3 {
        font-size: 20px;
        /* padding: 1rem 2rem; */
    }

    .product_footer > ul > li {
        font-size: 16px;
        font-weight: lighter;
        /* padding: 0 0 0.5rem 2rem; */
        color: var(--text-color);
    }

    .social > h3 {
        font-size: 20px;
        /* padding: 1rem 2rem; */
    }

    .social > i {
        font-size: 25px;
        color: var(--text-color);
        /* padding: 0 0 0 1rem; */
    }

    .my_repository {
        height: 50px;
        width: 100%;
        padding: 0 3rem;
        margin: 2rem;
        background-color: var(--first-color);
        color: var(--body-color);
        font-weight: bold;

        display: flex;
        flex-direction: row;
        gap: 10rem;
        justify-content: center;
        align-items: center;
    }

    .repository:hover {
        color: var(--text-color);
    }

}